* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #343a40; /* Color oscuro */
  padding: 1rem;
  text-align: center;
  color: white;
}

/* Header.css */
.header-container {
  position: relative;
  background-image: url("/Header.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
}

.header-description {
  font-size: 1.2rem;
}

/* Footer.css */
.footer {
  background-color: darkslategray;
}

/* Formulario CSS */
.formulario {
  margin: 5rem 30%;
}

/* CardPizza */
.card-body {
  min-height: 200px;
}

/* Cart */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pizza-cartDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}
.pizza-cartDiv--img {
  height: 60px;
  margin-right: 0.8rem;
  border-radius: 5px;
}
.pizza-cartDiv--name {
  flex: 2;
}
.pizza-cartDiv--price {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}
.pizza-cartDiv--quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
